doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, shrink-to-fit=no, initial-scale=1')
    title Litecoin.Network
    link(rel='shortcut icon', href='/images/favicon.png')
    link(href='/css/bootstrap.min.css', rel='stylesheet')
    link(href='/css/simple-sidebar.css', rel='stylesheet')
  body
    #page-content-wrapper
      header#header
        nav.navbar.st-navbar.navbar-fixed-top
          .navbar-header
            li
              a#menu-toggle(href='#menu-toggle')
                img(src='/images/menu.png', style='height:13px;')
                img(src='/images/logo5.png', align='center', style='height:25px;')
    #wrapper
      #sidebar-wrapper
        ul.sidebar-nav
          li
            h1 Network Statistics
            a(href='#') Litecoins in Circulation
            a(href='#') Orphan Block Count
            a(href='#') Transaction Count
            a(href='#') Unique Addresses
            a(href='#') Blockchain Size
            a(href='#') Mempool Size
            a(href='#') UXTO Count
            a(href='#') Block Count
            a(href='#') Node Count
            a(href='#') Node Map
          hr
          li
            h1 Economics
            a(href='#') Excahnge Volumes ($USD)
            a(href='#') Market Price ($USD)
            a(href='#') Market Cap ($USD)
            a(href='#') Block Reward
          hr
          li
            h1 Mining
            a(href='#') Avg Transaction Value
            a(href='#') Hashrate Distribution
            a(href='#') Avg Transaction Fee
            a(href='#') Network Hashrate
            a(href='#') Network Difficulty
            a(href='#') Active Softforks
            a(href='#') Segwit Support
            a(href='#') Block Times
            a(href='#') Block Size
          hr
          li
            h2 A Project by:
      .container-fluid
        .row
          .col-lg-12
            .col-lg-12
              .chart-box
                p
            .col-lg-6
              .chart-box
                p
            .col-lg-6
              .chart-box
                p
            .col-lg-6
              .chart-box
                p
            .col-lg-6
              .chart-box
                p
            .col-lg-6
              .chart-box
                p
            .col-lg-6
              .chart-box
                p
    script(src='/js/jquery.js')
    script(src='/js/bootstrap.min.js')
    script.
      $("#menu-toggle").click(function(e) {
      e.preventDefault();
      $("#wrapper").toggleClass("toggled");
      });
